@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=Didact+Gothic&display=swap');

:root {
  --white: #FFF8DE;
  --blue: #D6E8DB;
  --grey: #C1D0B5;
  --green: #99A98F;

  --titleFont: 'Caveat', cursive;
  --mainFont: 'Didact Gothic', sans-serif;
}

body {
  background-color: var(--white);
  color: var(--green);
  text-align: center;
  margin: 0;
  font-family: var(--mainFont);
}

a {
  text-decoration: none;
}

.btn {
  padding: 8px 12px;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.2);
  color: var(--green);
  background-color: var(--white);
  transition: 0.35s;

  &:hover {
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.4);
    background-color: var(--green);
    color: var(--white);

  }
}
